[submodule "components/json_parser/upstream"]
	path = components/json_parser/upstream
	url = https://github.com/espressif/json_parser.git
[submodule "components/json_generator/upstream"]
	path = components/json_generator/upstream
	url = https://github.com/espressif/json_generator.git
[submodule "components/rmaker_common"]
	path = components/rmaker_common
	url = ../esp-rainmaker-common.git
[submodule "cli"]
	path = cli
	url = ../esp-rainmaker-cli.git
[submodule "components/esp-insights"]
	path = components/esp-insights
	url = ../esp-insights.git
