# sdkconfig replacement configurations for deprecated options formatted as
# CONFIG_DEPRECATED_OPTION CONFIG_NEW_OPTION

CONFIG_ESP_RMAKER_LOCAL_CTRL_ENABLE         CONFIG_ESP_RMAKER_LOCAL_CTRL_AUTO_ENABLE
