CONFIG_PARTITION_TABLE_CUSTOM=y

#
# Chip revision
#
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y

CONFIG_ESP_SDIO_PIN_D0=14
CONFIG_ESP_SDIO_PIN_D1=15
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG=y
CONFIG_ESP_CONSOLE_SECONDARY_NONE=y
CONFIG_ESP_CONSOLE_USB_SERIAL_JTAG_ENABLED=y
