menu "ESP RainMaker OTA Config"

    choice ESP_RMAKER_OTA_WORKFLOW_TYPE
        bool "OTA Workflow Type"
        default ESP_RMAKER_OTA_USING_PARAMS
        help
            The Type of OTA workflow to be used. OTA can be performed either using
            Parameters, which is the simplest approach for hobbyists/makers or using
            pre-define MQTT Topics, which is suitable for commercial use case.
            Please refer the ESP RainMaker documentation for details.

        config ESP_RMAKER_OTA_USING_PARAMS
            bool "OTA using Params"
        config ESP_RMAKER_OTA_USING_TOPICS
            bool "OTA using Topics"
    endchoice

    config ESP_RMAKER_OTA_WORKFLOW_TYPE
        int
        default 1 if ESP_RMAKER_OTA_USING_PARAMS
        default 2 if ESP_RMAKER_OTA_USING_TOPICS

    config ESP_RMAKER_OTA_AUTOFETCH
        bool "Auto Fetch OTA"
        default n
        depends on ESP_RMAKER_OTA_USING_TOPICS
        help
            Fetch the OTA (i.e. get the URL and other details) by actively sending an
            OTA fetch request to ESP RainMaker Cloud. If this is disabled, the node
            will stay subscribed to the OTA Topics, but will get the information only
            if a user explicitly triggers it.

    config ESP_RMAKER_OTA_AUTOFETCH_PERIOD
        int "OTA Auto Fetch Period"
        default 0
        range 0 168
        depends on ESP_RMAKER_OTA_AUTOFETCH
        help
            Periodically send an OTA fetch request. If set to 0, the request will be sent only once,
            when the node connects to the ESP RainMaker Cloud first time after a boot.
            Else, this defines the period (in hours) for the periodic fetch request.

    config ESP_RMAKER_SKIP_COMMON_NAME_CHECK
        bool "Skip server certificate CN field check"
        default n
        help
            This allows you to skip the validation of OTA server certificate CN field.

    config ESP_RMAKER_SKIP_VERSION_CHECK
        bool "Skip firmware version check"
        default n
        help
            This allows you to skip the firmware version check. Useful during development,
            but not for production.

    config ESP_RMAKER_SKIP_PROJECT_NAME_CHECK
        bool "Skip project name check"
        default n
        help
            This allows you to skip the project name check.

endmenu

