menu "Custom Controller Cluster"
    config CONTROLLER_CUSTOM_CLUSTER_ENABLE
        bool "Enable controller custom cluster"
        depends on ESP_MATTER_CONTROLLER_ENABLE && ESP_MATTER_ENABLE_MATTER_SERVER && RMAKER_REST_API_ENABLED
        default n
        help
            Enable the custom cluster of matter controller for Rainmaker Fabric suppport.

endmenu
